@font-face {
 font-family: "Inter";
 src: url("./src/fonts/Inter-Regular.ttf");
 font-weight: 400;
}

@font-face {
 font-family: "Inter";
 src: url("./src/fonts/Inter-SemiBold.ttf");
 font-weight: 600;
}

@font-face {
 font-family: "Inter";
 src: url("./src/fonts/Inter-Bold.ttf");
 font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font: 0.9rem "Inter";
  font-weight: 700;
}

html, body {
  min-width: 420px;
  height: max(650px, 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
}

.container {
  width: 380px;
  height: 610px;
  display: flex; 
  flex-direction: column;
  border-radius: 10px;
  background-color: hsl(0, 0%, 12%);
}

.profile {
  margin: 40px auto 25px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.dates {
  text-align: center;

  h1 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
  }

  span {    
    color: hsl(86, 100%, 60%);
  }

  p {    
    margin: 25px 0 30px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  button {
    width: 300px;
    height: 45px; 
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
  }

  button:hover {
    background-color: hsl(86, 100%, 60%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
  }
}


@media (max-width: 420px) {
  html, body { min-width: 375px; } 

  .container {
    width: 330px;
    height: 575px;
  }

  .profile { margin: 30px auto 25px; }

  .dates {

    p { margin: 25px 0 25px; } 
  }

  .buttons {

    button{ width: 280px; }
  }
}
